.footer {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 1.5rem 0;
  margin: 4.5rem auto 0;
  left: 0;
  right: 0;

  @media screen and (max-width: 400px) {
    & div:nth-child(2) {
      display: none;
    }
  }

  & a:last-child {
    margin-left: auto;
  }
}

.footer a {
  box-shadow: 0 1px 0 0 currentColor;
  color: var(--textLink);
  text-decoration: none;
  color: #366ed8;

  &:hover {
    box-shadow: none;
  }
}

