:root {
  --border-radius: 12px;
  --pink: #ffa7c4;

  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  --bg: #f9fbfd;
  --primary: #222;
  --secondary: rgb(108, 108, 108);
  --textLink: rgb(30, 30, 30);

  background: var(--bg);
  color: var(--primary);
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1.75;
  font-size: 100%;
}

body.dark {
  --bg: #282c35;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --textLink: var(--pink);

  color-scheme: dark;
  background: var(--bg);
  color: var(--textNormal);
}

/* a {
  box-shadow: 0 1px 0 0 currentColor;
  color: var(--textLink);
  text-decoration: none;
  color: #366ed8;
} */

/* a:hover {
  box-shadow: none;
} */

h1,
h3 {
  margin-top: 3.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.5rem;
}

p:not(.articlePreview) {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
}
